.paymentWrap {
	padding: 50px;
}

.paymentWrap .paymentBtnGroup {
	max-width: 800px;
	margin: auto;
}

.paymentWrap .paymentBtnGroup .paymentMethod {
	padding: 40px;
	box-shadow: none;
	position: relative;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active {
	outline: none !important;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active .method {
	border-color: #4cd264;
	outline: none !important;
	box-shadow: 0px 3px 22px 0px #7b7b7b;
}

.paymentWrap .paymentBtnGroup .paymentMethod .method {
	position: absolute;
	right: 3px;
	top: 3px;
	bottom: 3px;
	left: 3px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
	transition: all 0.5s;
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.visa {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Old_Visa_Logo.svg/220px-Old_Visa_Logo.svg.png");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.master-card {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/MasterCard_early_1990s_logo.png/220px-MasterCard_early_1990s_logo.png");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.amex {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/American_Express_logo.svg/1200px-American_Express_logo.svg.png");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.diners {
	background-image: url("http://vignette1.wikia.nocookie.net/logopedia/images/3/3b/Diners_Club_Logo.png/revision/latest?cb=20110622075414");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.cabal {
	background-image: url("http://www.cabal.coop/sites/default/files/uploads/logo_credito_cabal_filete_blanco1.jpg");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
	border-color: #4cd264;
	outline: none !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #f0ad4e;
}

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: #f0ad4e;
    background-color: #fff;
}
