#chota2 {
 border: none;
 background-image: url("metal.gif" 10px; 10px; no-repeat);
 
 padding: 20px;
 font-size: 18px;
 border-radius: 10px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}

caption { text-align:center; font-size: 50px; font-family:"Lucida Sans Unicode"; color:white;}

body {font-family: Arial, Helvetica, sans-serif;  background-image: url("images2.jpg");}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 10px;     width: 1250px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }



#table2 {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 10px; width: 500px; text-align:left; border-collapse: collapse; }
